<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Time Slots</h1>
    <table id="slots_tab">
        <thead>
            <tr>
                <th>Start</th>
                <th>End</th>
                <th>User Status</th>
            </tr>
        </thead>
        <tbody>
            {% for slot in slots %}
                <td>{{ slot.start_time }}</td>
                <td>{{ slot.end_time }}</td>
                <td>{{ slot.status }}</td>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>